<template name="maintaincetips">
    <br/>
    <div class="top-stores">
            <div class="row">
                
                    {{>eachvideo}}
                    {{>eachvideo}}
                    {{>eachvideo}}
                    {{>eachvideo}}
                    {{>eachvideo}}
              
            </div>
        </div>

</template>

<template name="eachvideo">

    <div class="card transparent col s6 m5 l5 store-result">
         
        <div class="videocard-content">
        <div class="video-container">
        <iframe width="480" height="320" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>
        <div class="videocard-action">
            <a class="btnStoreDetail" sId="">See More  what this part funciton is ?</a>
        </div>
    </div>

</template>