<template name="footer">
    <div class="footer grey lighten-5">
        <div class="container">
            <div class="row boxes">
                <div class="col s12 m6">
                    <div class="col s6 m6">
                        <h6>About</h6>
                        <a href="/about"><p>About Carvicer</p></a>
                        <!--<a href="/careers"><p>Careers</p></a>-->
                        <a href="/guidelines"><p>Content Guidelines</p></a>
                        <a href="/policy"><p>Privacy Policy</p></a>
                    </div>
                    <div class="col s6 m6">
                        <h6>Discover</h6>
                        <a target="_blank" href="https://www.facebook.com/CarvicerInc-1647545352182438/timeline/"><p><i class="fa fa-facebook-square"></i>Find us on facebook</p></a>
                        <a href="#"><p></p></a>
                        <a href="#"><p></p></a>
                        <a href="#"><p></p></a>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="col s6 m6">
                        <h6>For Store Owners</h6>
                        <a href="/why-carvicer"><p>Why Carvicer?</p></a>
                        <a href="/register"><p>Register your store</p></a>
                        <a href="/store-faq"><p>FAQ</p></a>
                    </div>
                    <div class="col s6 m6">
                        <h6>For Drivers</h6>
                        <a href="/why-carvicer"><p>Why Carvicer?</p></a>
                        <a href="/driver-faq"><p>FAQ</p></a>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <p class="copyrights center teal lighten-3 white-text">© 2015 Carvicer, Inc ALL Rights Reserved</p>
    </div>
</template>