<template name="maintaincetips">
    <br/>
    <div class="top-stores">
            <div class="row">
                
                <div class="card transparent col s6 m5 l5 store-result">
         
                    <div class="videocard-content">
                    <div class="video-container">
                    <iframe width="480" height="320" src="//www.youtube.com/embed/O1hF25Cowv8?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    </div>
                    <div class="videocard-action">
                        <a class="btnStoreDetail" sId="">See More  what this part funciton is ?</a>
                    </div>
                </div>
                 <div class="card transparent col s6 m5 l5 store-result">
                     
                    <div class="videocard-content">
                    <div class="video-container">
                    <iframe width="480" height="320" src="//www.youtube.com/embed/uFOysZHKT6w?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    </div>
                    <div class="videocard-action">
                        <a class="btnStoreDetail" sId="">See More  what this part funciton is ?</a>
                    </div>
                </div>
                 <div class="card transparent col s6 m5 l5 store-result">
                     
                    <div class="videocard-content">
                    <div class="video-container">
                    <iframe width="480" height="320" src="//www.youtube.com/embed/W9rJHLuhXJU?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    </div>
                    <div class="videocard-action">
                        <a class="btnStoreDetail" sId="">See More  what this part funciton is ?</a>
                    </div>
                </div>
                 <div class="card transparent col s6 m5 l5 store-result">
                     
                    <div class="videocard-content">
                    <div class="video-container">
                    <iframe width="480" height="320" src="//www.youtube.com/embed/RdXVxbd59es?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    </div>
                    <div class="videocard-action">
                        <a class="btnStoreDetail" sId="">See More  what this part funciton is ?</a>
                    </div>
                </div>
              
            </div>
        </div>

</template>

<template name="eachvideo">

    <div class="card transparent col s6 m5 l5 store-result">
         
        <div class="videocard-content">
        <div class="video-container">
        <iframe width="480" height="320" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>
        <div class="videocard-action">
            <a class="btnStoreDetail" sId="">See More  what this part funciton is ?</a>
        </div>
    </div>

</template>