<template name="driverFaq">
    <div class="padding-top-50 hide-on-small-only "></div>
    <div class="info-content">
        <h3 class="blue-grey-text text-lighten-2 center">Driver FAQ</h3>
        <p class="light"><strong>Q: What’s the difference between Carvicer and yelp?</strong><br />
            A: Yelp is a platform with all kinds of businesses; people can search anything on it. Carvicer is a professional auto service platform; user can interact with stores much more than yelp.</p>

        <p class="light"><strong>Q: Is there any service fee for buying service on Carvicer?</strong><br />
            A: There will be 2.9%+30c processing fee for each successful transaction. The fee is for the third party payment system Stripe.</p>

        <p class="light"><strong>Q: How can we trust the stores on Carvicer</strong><br />
            A: Carvicer marketing department verifies all stores on our website. </p>

        <p class="light"><strong>Q: How can I make a refund?</strong><br />
            A: Send an email to support@carvicer.com</p>

        <p class="light"><strong>Q: If there are problems after the service, do I contact the store or Carvicer?</strong><br />
            A: When the store confirms the service is done, you will receive a receipt over email. You will use this receipt to contact the store.</p>
    </div>
</template>