<template name="guidelines">
    <div class="padding-top-50 hide-on-small-only "></div>
    <div class="info-content">
        <h3 class="blue-grey-text text-lighten-2 center">Content Guidelines</h3>
        <p class="light ">Carvicer allows users to order auto service online, including oil change, smog check, towing and more. Please read the guidelines below for specific types of content that you might take from the site.</p>
        <div class="row hide-on-small-only">
            <div class="col m6">
                <h5 class="blue-grey-text text-lighten-1r">Buy auto services</h5>
                <p class="light ">This is the core service of Carvicer. You can see the price and choose your service.</p>
            </div>

            <div class="col m6">
                <h5 class="blue-grey-text text-lighten-1 ">Reward system</h5>
                <p class="light ">After each successful purchase process, user will receive reward points which can be used to exchange a free service when you have certain amount of points. </p>
            </div>

            <div class="col m6">
                <h5 class="blue-grey-text text-lighten-1 ">Manage your user center</h5>
                <p class="light ">use your account profile to let people know who you are. Users want to read reviews from people they know and trust.</p>
            </div>

            <div class="col m6">
                <h5 class="blue-grey-text text-lighten-1 ">Manage your store</h5>
                <p class="light ">Store owners can also edit the profiles if prices changes or doing other changes. Notification messages will also be shown when customers are buying services.</p>
            </div>

        </div>

        <div class="hide-on-med-and-up">
            <h5 class="blue-grey-text text-lighten-1 center">Buy auto services</h5>
            <p class="light ">This is the core service of Carvicer. You can see the price and choose your service.</p>
            <h5 class="blue-grey-text text-lighten-1 center">Reward system</h5>
            <p class="light ">After each successful purchase process, user will receive reward points which can be used to exchange a free service when you have certain amount of points. </p>
            <h5 class="blue-grey-text text-lighten-1 center">Manage your user center</h5>
            <p class="light ">use your account profile to let people know who you are. Users want to read reviews from people they know and trust.</p>
            <h5 class="blue-grey-text text-lighten-1 center">Manage your store</h5>
            <p class="light ">Store owners can also edit the profiles if prices changes or doing other changes. Notification messages will also be shown when customers are buying services.</p>

        </div>

    </div>
</template>