<template name="storeFaq">
    <div class="padding-top-50 hide-on-small-only "></div>
    <div class="info-content">
        <h3 class="blue-grey-text text-lighten-2 center">Store FAQ</h3>
        <p class="light"><strong>Q: What can I do with Carvicer?</strong><br />
            A: In Cavicer's store manage system, store owner can add/delete/edit the service and price. Store owner can do much interaction with customers.</p>
        <p class="light"><strong>Q: Is there any service fee for buying service on Carvicer?</strong><br />
            A: There will be 2.9%+30c processing fee for each successful transaction. The fee is for the third party payment system Stripe. Because there will two transactions during earch purchase, we will charge both stores and customers.</p>
        <p class="light"><strong>Q: Do I need to print out receipt for customers?</strong><br />
            A: No. After you confirmed the service is done on your store manage center, customer will receive the receipt via Email automatically.</p>
    <!--<p><strong>Q: </strong><br />-->
        <!--A: </p>-->
    <!--<p><strong>Q: </strong><br />-->
        <!--A: </p>-->
    </div>
</template>