<template name="whyCarvicer">
    <div class="padding-top-50 hide-on-small-only "></div>
    <div class="info-content">
    <h3 class="blue-grey-text text-lighten-2 center">Why Carvicer?</h3>
    <p class="light">We at Carvicer are a company for the people. Life can be stressful, confusing, and sometimes just too expensive. We want to help both the people of our communities, and the many local auto repair shops that help sustain our communities. We know these shops sometimes have to work more days and longer hours just to keep their doors open. We also know what it’s like to work long hours because you just didn’t have enough money. It’s nice to know someone other than yourself, is worried about your money. We are devoted to put the people and local businesses before us and that’s the way we like it. We just want to lend a helping hand. </p>
    </div>
</template>