<template name="signupSuccess">
    <div class="container">
        <div class="row">
            <div class="padding margin-top-bottom-10">
                <div class="center sign-up-heading">
                    <h3>Create Account Success!</h3>
                    <br>
                </div>
                <div class="center">
                    <a class="btn btn-large amber darken-1" href="/register" id="goRegister">Register Your Store</a>

                    <a class="btn btn-large amber darken-1" href="/usercenter" id="goRegister">Go to User Center</a>
                    <br>
                </div>
            </div>

        </div>
    </div>
</template>